extends layouts/main

block content
    .form-container
        form(action=`/users${routes.changePassword}`, method="post")
            input(type="text",placeholder="Current Password", name="oldPassword")
            input(type="text",placeholder="New Password", name="newPassword")
            input(type="text",placeholder="Verify New Password", name="newPassword1")
            input(type="submit",value="Change Password")